mss==10.0.0
numpy==2.2.0
opencv-python==4.10.0.84
pillow==11.0.0
PyAutoGUI==0.9.54
pytesseract==0.3.13
python3-xlib==0.15
PyYAML==6.0.2
requests==2.32.3
shapely==2.0.6
simplejson==3.19.3

Flask~=3.1.0